In [7]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from datascience import *

In [8]:
faces = np.arange(1, 7)
die = Table().with_columns('Face', faces)
die

Face
1
2
3
4
5
6

In [10]:
die.sample(7)

Face
2
2
3
4
4
4
3

In [11]:
die.sample(7)

Face
6
1
6
5
4
4
3

In [12]:
actors = Table.read_table('actors.csv')
actors

Actor              | Total Gross | Number of Movies | Average per Movie | #1 Movie                     | Gross
Harrison Ford      | 4871.7      | 41               | 118.8             | Star Wars: The Force Awakens | 936.7
Samuel L. Jackson  | 4772.8      | 69               | 69.2              | The Avengers                 | 623.4
Morgan Freeman     | 4468.3      | 61               | 73.3              | The Dark Knight              | 534.9
Tom Hanks          | 4340.8      | 44               | 98.7              | Toy Story 3                  | 415
Robert Downey, Jr. | 3947.3      | 53               | 74.5              | The Avengers                 | 623.4
Eddie Murphy       | 3810.4      | 38               | 100.3             | Shrek 2                      | 441.2
Tom Cruise         | 3587.2      | 36               | 99.6              | War of the Worlds            | 234.3
Johnny Depp        | 3368.6      | 45               | 74.9              | Dead Man's Chest             | 423.3
Michael Caine      | 3351.5      | 58               | 57.8              | The Dark Knight              | 534.9
Scarlett Johansson | 3341.2      | 37               | 90.3              | The Avengers                 | 623.4
... (40 rows omitted)

In [16]:
# Simple random sample of 5 rows
actors.sample(5, with_replacement=True)

Actor             | Total Gross | Number of Movies | Average per Movie | #1 Movie                | Gross
Mark Wahlberg     | 2549.8      | 36               | 70.8              | Transformers 4          | 245.4
Tom Cruise        | 3587.2      | 36               | 99.6              | War of the Worlds       | 234.3
Dustin Hoffman    | 2522.1      | 43               | 58.7              | Meet the Fockers        | 279.3
Leonardo DiCaprio | 2518.3      | 25               | 100.7             | Titanic                 | 658.7
Don Cheadle       | 2885.4      | 34               | 84.9              | Avengers: Age of Ultron | 459

In [17]:
np.random.choice(faces, 7)

array([2, 2, 1, 5, 4, 6, 4])

In [18]:
actor_names = actors.column('Actor')

In [19]:
actor_names

array(['Harrison Ford', 'Samuel L. Jackson', 'Morgan Freeman', 'Tom Hanks',
       'Robert Downey, Jr.', 'Eddie Murphy', 'Tom Cruise', 'Johnny Depp',
       'Michael Caine', 'Scarlett Johansson', 'Gary Oldman',
       'Robin Williams', 'Bruce Willis', 'Stellan Skarsgard',
       'Anthony Daniels', 'Ian McKellen', 'Will Smith', 'Stanley Tucci',
       'Matt Damon', 'Robert DeNiro', 'Cameron Diaz', 'Liam Neeson',
       'Andy Serkis', 'Don Cheadle', 'Ben Stiller', 'Helena Bonham Carter',
       'Orlando Bloom', 'Woody Harrelson', 'Cate Blanchett',
       'Julia Roberts', 'Elizabeth Banks', 'Ralph Fiennes', 'Emma Watson',
       'Tommy Lee Jones', 'Brad Pitt', 'Adam Sandler', 'Daniel Radcliffe',
       'Jonah Hill', 'Owen Wilson', 'Idris Elba', 'Bradley Cooper',
       'Mark Wahlberg', 'Jim Carrey', 'Dustin Hoffman',
       'Leonardo DiCaprio', 'Jeremy Renner', 'Philip Seymour Hoffman',
       'Sandra Bullock', 'Chris Evans', 'Anne Hathaway'],
      dtype='<U22')

In [20]:

np.random.choice(actor_names, 5, replace=False)

array(['Helena Bonham Carter', 'Johnny Depp', 'Anne Hathaway',
       'Samuel L. Jackson', 'Daniel Radcliffe'],
      dtype='<U22')

In [21]:
# the function sample_proportions in teh datascience library does that for you

species_proportions = [0.25, 0.5, .25]
sample_size= 100
# Distribution of sample
sample_distribution = sample_proportions(sample_size, species_proportions)
sample_distribution

array([ 0.25,  0.47,  0.28])

In [22]:
sum (sample_distribution)

1.0