In [3]:
from datascience import *
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

## 10. 

propiedades de las Muestras Aleatroias

In [4]:
# Se carga un archivo CSV (top_movies_2017.csv) en una tabla usando la biblioteca datascience de Python.
# Table.read_table() lee el archivo y devuelve un objeto Table, almacenado en top1.
top1 = Table.read_table('top_movies_2017.csv')
# Se agrega una nueva columna llamada 'Row Index' a la tabla top1.
# np.arange(top1.num_rows) crea un array de números secuenciales desde 0 hasta el número de filas de la tabla (num_rows - 1).
# with_column() devuelve una nueva tabla con la columna añadida, sin modificar top1
top2 = top1.with_column('Row Index', np.arange(top1.num_rows))
# Se mueve la columna 'Row Index' al inicio de la tabla.
# move_to_start('Row Index') reordena las columnas sin modificar el contenido.
top = top2.move_to_start('Row Index')
# Se aplican formatos a las columnas de la tabla.
# make_array(3, 4) crea un array con los índices de las columnas 3 y 4.
# NumberFormatter formatea los valores de esas columnas numéricas (por ejemplo, redondeo o uso de separadores de miles).
# set_format() aplica el formato a las columnas especificadas.
top.set_format(make_array(3, 4), NumberFormatter)

Row Index | Title                            | Studio          | Gross       | Gross (Adjusted) | Year
0         | Gone with the Wind               | MGM             | 198,676,459 | 1,796,176,700    | 1939
1         | Star Wars                        | Fox             | 460,998,007 | 1,583,483,200    | 1977
2         | The Sound of Music               | Fox             | 158,671,368 | 1,266,072,700    | 1965
3         | E.T.: The Extra-Terrestrial      | Universal       | 435,110,554 | 1,261,085,000    | 1982
4         | Titanic                          | Paramount       | 658,672,302 | 1,204,368,000    | 1997
5         | The Ten Commandments             | Paramount       | 65,500,000  | 1,164,590,000    | 1956
6         | Jaws                             | Universal       | 260,000,000 | 1,138,620,700    | 1975
7         | Doctor Zhivago                   | MGM             | 111,721,910 | 1,103,564,200    | 1965
8         | The Exorcist                     | Warner Brothers | 232,906,145 | 983,226,600      | 1973
9         | Snow White and the Seven Dwarves | Disney          | 184,925,486 | 969,010,000      | 1937
... (190 rows omitted)

In [5]:
top1

Title                            | Studio          | Gross     | Gross (Adjusted) | Year
Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939
Star Wars                        | Fox             | 460998007 | 1583483200       | 1977
The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965
E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982
Titanic                          | Paramount       | 658672302 | 1204368000       | 1997
The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956
Jaws                             | Universal       | 260000000 | 1138620700       | 1975
Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965
The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973
Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937
... (190 rows omitted)